<div class="row">
  <div class="col-xs-12 col-md-7">
    <div data-ng-if="state.name=='index'">
      <img src="img/justus2.png" alt="{{i18n.header.logotext[lang]}" class="img-responsive">
    </div>
    <div data-ng-if="state.name!='index'">
      <div>
        <a href data-ui-sref="justus({lang:lang,vaihe:0})"><img src="img/justus2.png" alt="{{i18n.header.logotext[lang]}" class="img-responsive"></a>
      </div>
      <div>
        <a href data-ui-sref="index({lang:lang})" data-ng-bind="i18n.content.valitse.etusivu[lang]"></a> &nbsp;
        <a href data-ui-sref="justus({lang:lang,id:id,vaihe:vaihe||1})" data-ng-bind="i18n.content.valitse.tallenna[lang]"></a> &nbsp;
        <a href data-ui-sref="omat({lang:lang})" data-ng-bind="i18n.content.valitse.omat[lang]"></a> &nbsp;
        <a data-ng-if="hasAccess('hyvaksy')" href data-ui-sref="hyvaksy({lang:lang})" data-ng-bind="i18n.content.valitse.hyvaksy[lang]"></a> &nbsp;
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-5 pull-right text-right">
    <div  data-ng-if="state.name!='index' && user">
      <span><i>{{user.name}}</i>, {{getCode('organization',user.organization.code).selite[lang]}}</span>
      <span>| <a href="" data-ng-href="{{justusuri}}/Shibboleth.sso/Logout?return={{justusuri}}">{{i18n.header.logout[lang]}}</a></span>
    </div>
    <div>
      <span><a href="#" data-ng-click="alert('ohje?')">
        {{i18n.header.help[lang]}}
        <i class="glyphicon glyphicon-info-sign justus-info"
        data-popover-trigger="'mouseenter'" data-popover-placement="bottom"
        data-uib-popover="ohje?"></i>
      </a></span>
      <span>|</span>
      <a href data-ng-show="lang!='FI'" data-ng-click="$parent.lang='FI'">{{i18n.header.lang.FI}}</a>
      <span data-ng-show="lang!='FI'">|</span>
      <a href data-ng-show="lang!='SV'" data-ng-click="$parent.lang='SV'">{{i18n.header.lang.SV}}</a>
      <span data-ng-show="lang=='FI'">|</span>
      <a href data-ng-show="lang!='EN'" data-ng-click="$parent.lang='EN'">{{i18n.header.lang.EN}}</a>
    </div>
    <span data-ng-if="developmentmode || user.role=='admin'" style="background: lightgray;">
      admin/demo:
      user: <select data-ng-model="user.role" style="font-size:smaller; background: lightgray;">
        <option value="admin">Admin</option>
        <option value="member">Member</option>
      </select>
      org: <select data-ng-model="user.organization.code" style="font-size:smaller; background: lightgray;">
        <option data-ng-repeat="g in codes.organization" value="{{g.arvo}}">{{g.selite[lang]}}</option>
      </select>
      <br>
      <a href data-ng-click="resetKoodisto()">reset koodisto</a>
      <a href data-ng-click="alterViewWidth()">wide/narrow</a>
    </span>
  </div>
</div>
