  <div data-ng-controller="TarkastaController">

    <div class="row no-gutter" style="margin-bottom: 16px;">
      <div class="col-xs-6 text-center">
        <div class="justus-btn justus-btn-stage" data-ng-class="{selected: odottavat}" data-ng-click="odottavat=true; resetData()">
          {{i18n.content.tarkasta.odottavat[lang]}}
        </div>
      </div>
      <div class="col-xs-6 text-center">
        <div class="justus-btn justus-btn-stage" data-ng-class="{selected: !odottavat}" data-ng-click="odottavat=false; resetData()">
          {{i18n.content.tarkasta.hyvaksytyt[lang]}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 table-responsive">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th class="justus-bg-dim" style="vertical-align:top; border:1px white solid;"
              data-ng-click="colOrderReverse=!(colOrder=='id'?colOrderReverse:true); colOrder='id'">
                <span data-ng-bind="i18n.content.tarkasta.table.julkaisuid[lang]"></span
                ><span class="fa fa-sort-desc" data-ng-if="colOrder=='id' && !(colOrderReverse)"></span
                ><span class="fa fa-sort-asc" data-ng-if="colOrder=='id' && (colOrderReverse)"></span>
              </th>
              <th class="justus-bg-dim" style="vertical-align:top; border:1px white solid;"
              data-ng-click="colOrderReverse=!(colOrder=='julkaisunnimi'?colOrderReverse:true); colOrder='julkaisunnimi'">
                <span data-ng-bind="i18n.content.tarkasta.table.julkaisunnimi[lang]"></span
                ><span class="fa fa-sort-desc" data-ng-if="colOrder=='julkaisunnimi' && !(colOrderReverse)"></span
                ><span class="fa fa-sort-asc" data-ng-if="colOrder=='julkaisunnimi' && (colOrderReverse)"></span>
              </th>
              <th class="justus-bg-dim" style="vertical-align:top; border:1px white solid;"
              data-ng-click="colOrderReverse=!(colOrder=='tekijat'?colOrderReverse:true); colOrder='tekijat'">
                <span data-ng-bind="i18n.content.tarkasta.table.julkaisuntekijat[lang]"></span
                ><span class="fa fa-sort-desc" data-ng-if="colOrder=='tekijat' && !(colOrderReverse)"></span
                ><span class="fa fa-sort-asc" data-ng-if="colOrder=='tekijat' && (colOrderReverse)"></span>
              </th>
              <th class="justus-bg-dim" style="vertical-align:top; border:1px white solid;"
              data-ng-click="colOrderReverse=!(colOrder=='modified'?colOrderReverse:true); colOrder='modified'">
                <span data-ng-bind="i18n.content.tarkasta.table.muokattu[lang]"></span
                ><span class="fa fa-sort-desc" data-ng-if="colOrder=='modified' && !(colOrderReverse)"></span
                ><span class="fa fa-sort-asc" data-ng-if="colOrder=='modified' && (colOrderReverse)"></span>
              </th>
              <th class="justus-bg-dim" style="vertical-align:top; border:1px white solid;"
              data-ng-click="colOrderReverse=!(colOrder=='username'?colOrderReverse:true); colOrder='username'">
                <span data-ng-bind="i18n.content.tarkasta.table.viimeisinmuokkaaja[lang]"></span
                ><span class="fa fa-sort-desc" data-ng-if="colOrder=='username' && !(colOrderReverse)"></span
                ><span class="fa fa-sort-asc" data-ng-if="colOrder=='username' && (colOrderReverse)"></span>
              </th>

              <th data-ng-if="state.name=='hyvaksy'"
              data-ng-click="colOrderReverse=!(colOrder=='julkaisuntila'?colOrderReverse:false); colOrder='julkaisuntila'"
              class="justus-bg-dim" style="vertical-align:top; border:1px white solid;">
              <!-- nb! alternative default sort order -->
                <span data-ng-bind="i18n.content.tarkasta.table.hyvaksy[lang]"></span
                ><span class="fa fa-sort-desc" data-ng-if="colOrder=='julkaisuntila' && !(colOrderReverse)"></span
                ><span class="fa fa-sort-asc" data-ng-if="colOrder=='julkaisuntila' && (colOrderReverse)"></span>
              </th>

            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="d in data.julkaisu | orderBy:colOrder:colOrderReverse track by d.id"
                data-ng-if="(odottavat && !d.julkaisuntila) || (!odottavat && d.julkaisuntila)">
              <td>
                <a data-ng-if="state.name=='hyvaksy' || !d.julkaisuntila" href="" data-ui-sref="justus({lang:lang,id:d.id,vaihe:4})" data-ng-bind="d.julkaisuvuosi+'-'+d.organisaatiotunnus+'-'+d.id"></a>
                <span data-ng-if="state.name=='omat' && d.julkaisuntila" data-ng-bind="d.julkaisuvuosi+'-'+d.organisaatiotunnus+'-'+d.id"></span>
              </td>
              <td><span data-ng-bind="d.julkaisunnimi"></span></td>
              <td><span data-ng-bind="d.tekijat"></span></td>
              <td><span data-ng-bind="d.modified | date:'d.M.yyyy HH:mm'"></span></td>
              <td><span data-ng-bind="d.username"></span></td>

              <td data-ng-if="state.name=='hyvaksy'">
                <span data-ng-repeat="julkaisuntila in ['0','1','2']"><span
                  title="{{getCode('julkaisuntila',julkaisuntila).selite[lang]}}"
                  class="justus-btn justus-btn-default" data-ng-class="{'active': d.julkaisuntila==julkaisuntila}"
                  data-ng-click="d.julkaisuntila=julkaisuntila; usePaivita('julkaisu',d,d.id,'id',['julkaisuntila'],[julkaisuntila])"
                  data-ng-bind="julkaisuntila"></span>&nbsp;</span
                ><!-- TODO not pretty: &nbsp;<i class="fa fa-info-circle fa-lg justus-info"
                data-popover-trigger="'mouseenter'" data-popover-placement="left"
                data-uib-popover="0 - Julkaisun tietoja ei siirretä Juuliin tai raportoida OKM-tiedonkeruussa.\n  1 -> Julkaisun tiedot voidaan julkaista tietovarannon rajapintojen kautta ja siirtää Juuliin. Tiedoissa on kuitenkin puutteita, eikä niitä voida vielä käyttää osana OKM:n tiedonkeruuta.\n  2 -> Julkaisu voidaan raportoida Juulissa ja se sisältää kaikki OKM-tiedonkeruussa vaadittavat tiedot"></i -->
                <!-- button data-ng-click="usePaivita(d[table.pkcol],table.pkcol)">Päivitä</button -->
                <!-- button data-ng-click="usePoista(d[table.pkcol])">Poista</button -->
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h3 class="justus-btn justus-btn-default" style="text-align:left;" data-ui-sref="justus({lang:lang, vaihe:1})">
         {{i18n.content.tarkasta.uusi[lang]}}
        </h3>
      </div>
    </div>

  </div>
