.form-header {
  background-color: $brand-primary;
  color: $brand-white;
  padding: $padding-base-vertical $padding-base-horizontal;
}

.form-control-feedback {
  right: 15px;
}

.form-control-feedback-extra {
  position: absolute;
  right: 15px;
  top: 10px;
}