.table {
  tbody,
  thead {
    tr {
      th {
        white-space: nowrap;
      }

      th,
      td {
        vertical-align: middle;

        &.condensed {
          width: 1%;
        }

        &.nowrap {
          white-space: nowrap;

          .btn {
            float: none;
            display: inline-block;
          }
        }

        .btn {
          padding: 4px 10px;
        }
      }
    }
  }
}