
<!-- Kenttä: Julkaisutyyppi -->
<div class="row">
  <div class="col-xs-4 justus-title">{{i18n.content.form.julkaisutyyppi[lang]}}</div>
  <div class="col-xs-8 justus-data">
    <span data-ng-bind="getCode('julkaisutyypit',justus.julkaisutyyppi).selite[lang]"></span>
  </div>
</div>

<!-- Kenttä: Julkaisuvuosi -->
<div class="row">
  <div class="col-xs-4 justus-title">{{i18n.content.form.julkaisuvuosi[lang]}}</div>
  <div class="col-xs-8 justus-data">{{justus.julkaisuvuosi}}</div>
</div>

<!-- Kenttä: Julkaisun nimi -->
<div class="row">
  <div class="col-xs-4 justus-title">{{i18n.content.form.julkaisunnimi[lang]}}</div>
  <div class="col-xs-8 justus-data">{{justus.julkaisunnimi}}</div>
</div>

<!-- Kenttä: Tekijät -->
<div class="row">
  <div class="col-xs-4 justus-title">{{i18n.content.form.tekijat[lang]}}</div>
  <div class="col-xs-8 justus-data">{{justus.tekijat}}</div>
</div>

<!-- Kenttä: Julkaisun tekijöiden lukumäärä -->
<div class="row">
  <div class="col-xs-4 justus-title">{{i18n.content.form.julkaisuntekijoidenlukumaara[lang]}}</div>
  <div class="col-xs-8 justus-data">{{justus.julkaisuntekijoidenlukumaara}}</div>
</div>

<!-- Kenttä: Organisaation tekijät -->
<div class="row" style="border:1px dotted gray;">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4 justus-title">{{i18n.content.form.organisaationtekijat[lang]}}</div>
      <div class="col-xs-8 justus-data">
        <div data-ng-repeat="i in justus.organisaationtekijat track by $index">
          {{justus.organisaationtekijat[$index].sukunimi}},
          {{justus.organisaationtekijat[$index].etunimi}};
          <span data-ng-repeat="a in justus.organisaationtekijat[$index].alayksikot"><span data-ng-if="$index>0">,</span>
            <span data-ng-bind="a"></span>=<span data-ng-bind="getCode('oppilaitokset',a).selite[lang]"></span></span>;
          {{justus.organisaationtekijat[$index].orcid}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Kenttä: Konferenssin vakiintunut nimi -->
<div class="row">
  <div class="col-xs-4 justus-title">{{i18n.content.form.konferenssinvakiintunutnimi[lang]}}</div>
  <div class="col-xs-8 justus-data">{{justus.konferenssinvakiintunutnimi}}</div>
</div>
<!-- Kenttä: Emojulkaisun nimi -->
<div class="row">
  <div class="col-xs-4 justus-title">{{i18n.content.form.emojulkaisunnimi[lang]}}</div>
  <div class="col-xs-8 justus-data">{{justus.emojulkaisunnimi}}</div>
</div>
<!-- Kenttä: ISBN :: nb! isbn vs issn. -->
<div class="row">
  <div class="col-xs-4 justus-title">{{i18n.content.form.isbn[lang]}}</div>
  <div class="col-xs-8 justus-data">{{justus.isbn}}</div>
</div>
<!-- Kenttä: Emojulkaisun toimittajat -->
<div class="row">
  <div class="col-xs-4 justus-title">{{i18n.content.form.emojulkaisuntoimittajat[lang]}}</div>
  <div class="col-xs-8 justus-data">{{justus.emojulkaisuntoimittajat}}</div>
</div>
<!-- Kenttä: Lehden / julkaisusarjan nimi -->
<div class="row">
  <div class="col-xs-4 justus-title">{{i18n.content.form.lehdenjulkaisusarjannimi[lang]}}</div>
  <div class="col-xs-8 justus-data">
    <span data-ng-bind="justus.lehdenjulkaisusarjannimi"></span>
    <!-- näytä valitun lehden/sarjan tietoja -->
    <div class="row" data-ng-show="justus.jufoid || justus.jufoluokitus">
      <div class="col-xs-12">
        <span data-ng-show="justus.jufoid">{{i18n.content.form.jufoid[lang]}}: {{justus.jufoid}}</span><span data-ng-show="justus.jufoid && justus.jufoluokitus">,</span>
        <span data-ng-show="justus.jufoluokitus">{{i18n.content.form.jufoluokitus[lang]}}: {{justus.jufoluokitus}}={{codes.jufoluokitukset[justus.jufoluokitus][lang]}}</span>
      </div>
    </div>
  </div>
</div>
<!-- Kenttä: ISSN :: nb! issn vs isbn. required-ehto toimii vaikka isbn:ää ei lomakkeella olisikaan -->
<div class="row">
  <div class="col-xs-4 justus-title">{{i18n.content.form.issn[lang]}}</div>
  <div class="col-xs-8 justus-data">{{justus.issn}}</div>
</div>
<!-- Kenttä: Volyymi -->
<div class="row">
  <div class="col-xs-4 justus-title">{{i18n.content.form.volyymi[lang]}}</div>
  <div class="col-xs-8 justus-data">{{justus.volyymi}}</div>
</div>
<!-- Kenttä: Numero -->
<div class="row">
  <div class="col-xs-4 justus-title">{{i18n.content.form.numero[lang]}}</div>
  <div class="col-xs-8 justus-data">{{justus.numero}}</div>
</div>
<!-- Kenttä: Sivut -->
<div class="row">
  <div class="col-xs-4 justus-title">{{i18n.content.form.sivut[lang]}}</div>
  <div class="col-xs-8 justus-data">{{justus.sivut}}</div>
</div>
<!-- Kenttä: Artikkelinumero -->
<div class="row">
  <div class="col-xs-4 justus-title">{{i18n.content.form.artikkelinumero[lang]}}</div>
  <div class="col-xs-8 justus-data">{{justus.artikkelinumero}}</div>
</div>
<!-- Kenttä: Kustantaja -->
<div class="row">
  <div class="col-xs-4 justus-title">{{i18n.content.form.kustantaja[lang]}}</div>
  <div class="col-xs-8 justus-data">{{justus.kustantaja}}</div>
</div>
<!-- Kenttä: Julkaisun kustannuspaikka -->
<div class="row">
  <div class="col-xs-4 justus-title">{{i18n.content.form.julkaisunkustannuspaikka[lang]}}</div>
  <div class="col-xs-8 justus-data">{{justus.julkaisunkustannuspaikka}}</div>
</div>

<!-- loput kentät -->
<!-- Kenttä: Avainsanat -->
<div class="row" style="border:1px dotted gray;">
  <div class="col-xs-4 justus-title">{{i18n.content.form.avainsanat[lang]}}</div>
  <div class="col-xs-8 justus-data">
    <span data-ng-repeat="avainsana in justus.avainsanat"><span data-ng-if="$index > 0">, </span>
      {{avainsana}}</span>
  </div>
</div>

<!-- Kenttä: Julkaisun kieli -->
<div class="row">
  <div class="col-xs-4 justus-title">{{i18n.content.form.julkaisunkieli[lang]}}</div>
  <div class="col-xs-8 justus-data">
    <!-- {{justus.julkaisunkieli}} -->
    <span data-ng-bind="getCode('kieli',justus.julkaisunkieli).selite[lang]"></span>
  </div>
</div>
<!-- Kenttä: Julkaisun kansainvälisyys -->
<div class="row">
  <div class="col-xs-4 justus-title">{{i18n.content.form.julkaisunkansainvalisyys[lang]}}</div>
  <div class="col-xs-8 justus-data">
    <span data-ng-bind="i18n.content.form.julkaisunkansainvalisyys[justus.julkaisunkansainvalisyys][lang]"></span>
  </div>
</div>
<!-- Kenttä: Julkaisumaa -->
<div class="row">
  <div class="col-xs-4 justus-title">{{i18n.content.form.julkaisumaa[lang]}}</div>
  <div class="col-xs-8 justus-data">
    <!-- {{justus.julkaisumaa}} -->
    <span data-ng-bind="getCode('maatjavaltiot2',justus.julkaisumaa).selite[lang]"></span>
  </div>
</div>

<!-- Kenttä: Julkaisun tieteenala -->
<div class="row" style="border:1px dotted gray;">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4 justus-title">{{i18n.content.form.julkaisuntieteenalat[lang]}}
      </div>
      <div class="col-xs-8 justus-data">
        <div data-ng-repeat="tieteenala in justus.julkaisuntieteenalat">
          <span data-ng-bind="tieteenala"></span>
          <span data-ng-bind="getCode('tieteenalat',tieteenala).selite[lang]"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Kenttä: Kansainvälinen yhteisjulkaisu -->
<div class="row">
  <div class="col-xs-4 justus-title">{{i18n.content.form.kansainvalinenyhteisjulkaisu[lang]}}</div>
  <div class="col-xs-8 justus-data">
    <span data-ng-bind="i18n.content.form.kansainvalinenyhteisjulkaisu[justus.kansainvalinenyhteisjulkaisu][lang]"></span>
  </div>
</div>
<!-- Kenttä: Yhteisjulkaisu yrityksen kanssa -->
<div class="row">
  <div class="col-xs-4 justus-title">{{i18n.content.form.yhteisjulkaisuyrityksenkanssa[lang]}}</div>
  <div class="col-xs-8 justus-data">
    <span data-ng-bind="i18n.content.form.yhteisjulkaisuyrityksenkanssa[justus.yhteisjulkaisuyrityksenkanssa][lang]"></span>
  </div>
</div>

<!-- Kenttä: DOI-tunniste -->
<div class="row">
  <div class="col-xs-4 justus-title">{{i18n.content.form.doitunniste[lang]}}</div>
  <div class="col-xs-8 justus-data">{{justus.doitunniste}}</div>
</div>

<!-- Kenttä: Pysyvä verkko-osoite -->
<div class="row">
  <div class="col-xs-4 justus-title">{{i18n.content.form.pysyvaverkkoosoite[lang]}}</div>
  <div class="col-xs-8 justus-data">{{justus.pysyvaverkkoosoite}}</div>
</div>
<!-- Kenttä: Avoin saatavuus -->
<div class="row">
  <div class="col-xs-4 justus-title">{{i18n.content.form.avoinsaatavuus[lang]}}</div>
  <div class="col-xs-8 justus-data ">
    <span data-ng-bind="i18n.content.form.avoinsaatavuus[justus.avoinsaatavuus][lang]"></span>
  </div>
</div>

<!-- Kenttä: Julkaisu rinnakkaistallennettu -->
<div class="row" style="border:1px dotted gray;">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4 justus-title">{{i18n.content.form.julkaisurinnakkaistallennettu[lang]}}</div>
      <div class="col-xs-8 justus-data">
        <span data-ng-bind="i18n.content.form.julkaisurinnakkaistallennettu[justus.julkaisurinnakkaistallennettu][lang]"></span>
      </div>
    </div>
    <!-- Kenttä: Rinnakkaistallennetun version verkko-osoite -->
    <div class="row">
      <div class="col-xs-4 justus-title">{{i18n.content.form.rinnakkaistallennetunversionverkkoosoite[lang]}}</div>
      <div class="col-xs-8 justus-data">{{justus.rinnakkaistallennetunversionverkkoosoite}}</div>
    </div>
  </div>
</div>

<!-- TALLENNA -->
<div class="row" data-ng-controller="justusSaveController">
  <div class="col-xs-12">
    <h3 class="justus-btn justus-btn-default" style="text-align:left;" data-ng-click="useTallenna()"
    data-ng-if="isJustusValid() && isValid('organisaationtekijat')"
    data-ng-bind="i18n.content.tallenna[lang]"></h3>
    <!-- div class="justus-btn-primary btn-lg btn-block active" data-ng-if="isJustusValid() && isValid('organisaationtekijat')" data-ng-click="useTallenna()">{{i18n.content.tallenna[lang]}}</div -->
    <!-- div class="justus-btn-primary btn-lg btn-block disabled" data-ng-if="!isJustusValid()" data-ng-click="">{{i18n.content.tallenna[lang]}}</div -->
  </div>
</div>
