<!-- VAIHEVUO -->
<div class="row no-gutter" style="margin-bottom: 16px;"
 data-ng-show="ui_vaihe>=0">
  <div class="col-xs-3 text-center">
    <div class="justus-btn justus-btn-stage" data-ng-class="{selected:ui_vaihe==1}" data-ng-click="useVaihe(1)">1 {{i18n.content.vaihevuo.esitayta[lang]}}</div>
  </div>
  <div class="col-xs-3 text-center">
    <div class="justus-btn justus-btn-stage" data-ng-class="{selected:ui_vaihe==2}" data-ng-click="useVaihe(2)">2 {{i18n.content.vaihevuo.julkaisutyyppi[lang]}}</div>
  </div>
  <div class="col-xs-3 text-center">
    <div class="justus-btn justus-btn-stage" data-ng-class="{selected:ui_vaihe==3, disabled:ui_vaihe<3}" data-ng-if="ui_vaihe<3">3 {{i18n.content.vaihevuo.tietojensyotto[lang]}}</div>
    <div class="justus-btn justus-btn-stage" data-ng-class="{selected:ui_vaihe==3, disabled:ui_vaihe<3}" data-ng-if="ui_vaihe>=3" data-ng-click="useVaihe(3)">3 {{i18n.content.vaihevuo.tietojensyotto[lang]}}</div>
  </div>
  <div class="col-xs-3 text-center">
    <div class="justus-btn justus-btn-stage" data-ng-class="{selected:ui_vaihe==4, disabled:ui_vaihe<4}" data-ng-if="ui_vaihe<4">4 {{i18n.content.vaihevuo.tallennus[lang]}}</div>
    <div class="justus-btn justus-btn-stage" data-ng-class="{selected:ui_vaihe==4, disabled:ui_vaihe<4}" data-ng-if="ui_vaihe>=4" data-ng-click="useVaihe(4)">4 {{i18n.content.vaihevuo.tallennus[lang]}}</div>
  </div>
</div>
