/* bower install https://google-fonts.azurewebsites.net/googleFonts/ptsans?family=PT+Sans:SIZE[i] */
/* Font PT Sans: Copyright � ParaType, 2013. All rights reserved.*/
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(../fonts/HvzEKSJww3kCxuiAo2A.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(../fonts/GQsSc1g4rdRdjJKZrNC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(../fonts/MHY90P7jtyjpXuZ2cLKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(../fonts/lYDvubYemzYzN7GbLkInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

body {
  background-color: #dddddd;
  font-family: 'PT Sans', sans-serif;
}
.content {
  background-color: #ffffff;
  margin-right: auto;
  margin-left: auto;
}

.justus-footer {
  background-color: #99c2c8;
  color: #FFFFFF;
  padding: 2px 0px;
  margin: 4px 0px;
}
.justus-block {
  padding: 8px 0px;
  margin: 8px 0px;
}
.justus-block.sm {
  padding: 4px 0px;
  margin: 4px 0px;
}
.justus-block-alter {
  background-color: #99c2c8;
  color: #FFFFFF;
  padding: 8px 0px;
  margin: 8px 0px;
}

.justus-bottom-space {
  margin-bottom: 16px;
}

.justus-bg-bright {
  background-color: #026D7C;
  color: #FFFFFF;
}
.justus-bg-dim {
  background-color: #99C2C8;
  color: #FFFFFF;
}
.justus-dim-sm {
  color: #BFC4C6;
  font-size: smaller;
}


.justus-title {
  font-weight: bold;
  font-size: larger;
}
.justus-data {
}
.justus-info {
  // background-color: #FFFFFF;
  color: #99C2C8;
}
.justus-info:hover {
  color: #026D7C;
}
.justus-highlight {
  color: #026D7C;
}
.justus-required-star {
  color: red;
}
.justus-required {
  transition: all linear 0.5s;
}
.justus-required.ng-invalid {
  border: 1px solid red;
  color: red;
}
.justus-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 34px;
  padding: 6px 12px;
}
.justus-input.sm{
  min-width: 150px;
}
.justus-input.md{
  min-width: 350px;
}
.justus-input.lg{
  min-width: 700px;
}

.justus-btn {
  cursor: pointer;
  text-align: center;
  border-radius: 6px;
  position: relative;
  top: 5px;
}
.justus-btn.disabled {
  cursor: not-allowed;
}
.justus-btn:hover {
  transition: all 0.5s ease-in-out;
  background-color: #026D7C;
}
.justus-btn.selected {
  background-color: #026D7C;
}
.justus-btn-default {
  background-color: #99C2C8;
  color: #FFFFFF;
  padding: 5px 8px;
  margin: 0px;
}
.justus-btn-default.active {
  background-color: #026D7C;
}
/*
.justus-btn-default:hover {
  background-color: #026D7C;
}
*/
.justus-btn-tiny {
  background-color: #99C2C8;
  color: #FFFFFF;
  padding: 1px 4px;
  margin: 0px;
}
.justus-btn-tiny.active {
  background-color: #026D7C;
}
.justus-btn-stage {
  background-color: #99C2C8;
  color: #FFFFFF;
  font-size: larger;
  padding: 12px;
  margin: 2px;
}
.justus-btn-stage.disabled {
  background-color: #99C2C8;
  padding: 12px;
  margin: 2px;
}
/*
.justus-btn-stage.disabled:hover {
  background-color: #026D7C;
}
*/
.justus-btn-primary {
  background-color: #7dc243;
  color: #FFFFFF;
  border: 10px solid #7dc243;
  // border-radius: 10px;
  padding: 2px;
  margin: 2px;
  cursor: pointer;
  text-align: center;
}
.justus-btn-primary.disabled {
  background-color: #FFFFFF;
  color: #7dc243;
  border: 10px solid #7dc243;
  // border-radius: 10px;
  padding: 2px;
  margin: 2px;
  cursor: not-allowed;
  text-align: center;
}
.justus-btn-plain {
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;
}
.justus-btn-tyyppi {
  background-color: #99C2C8;
  color: #FFFFFF;
  display: inline-block;
  padding: 9px;
  margin: 4px 0px;
  cursor: pointer;
  text-align: left;
  font-size: larger;
}
.justus-btn-tyyppi.active {
  background-color: #026D7C;
}
/*
.justus-btn-tyyppi:hover {
  background-color: #026D7C;
}
*/

.justus-btn-emphasized {
  background-color: #FFFFFF;
  color: #006574;
  border: 10px solid #006574;
  // border-radius: 40px;
  padding: 24px 6px;
  margin: 6px;
  cursor: pointer;
  text-align: center;
}

/*
.justus-animate.ng-hide {
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.justus-animate.ng-hide-add{
  transform: translateY(100%);
  transform-origin: top;
  opacity: 1;
}
.justus-animate.ng-hide-remove{
  transform: translateY(0%);
  transform-origin: top;
}
*/

// fix/alter bootstrap gutter
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child) {
  padding-left:0;
}
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right:0;
}
