<!DOCTYPE html>
<html lang="fi" data-ng-app="justusApp" data-ng-controller="justusController">
<head>
  <!-- bootstrap :: the  first 3 must be first -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--dev--><script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script><!--enddev-->
  <!--dev--><!-- script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script --><!--enddev-->
  <!--dev--><script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.min.js"></script><!--enddev-->
  <!--dev--><script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script><!--enddev-->
  <!--dev--><script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.19.4/select.min.js"></script><!--enddev-->
  <!--dev--><script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.3/ui-bootstrap-tpls.min.js"></script><!--enddev-->
  <!-- build:js js/vendor.js -->
  <!-- mustache
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-ui-select/dist/select.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  end mustache -->
  <!-- endbuild -->
  <!-- build:js js/justus.js -->
  <script src="js/generic.js"></script>
  <script src="js/i18n.js"></script>
  <script src="js/codes.js"></script>
  <script src="js/justus.app.js"></script>
  <script src="js/crossref.service.js"></script>
  <script src="js/virta.service.js"></script>
  <script src="js/jufo.service.js"></script>
  <script src="js/koodisto.service.js"></script>
  <script src="js/justus.service.js"></script>
  <script src="js/justus.controller.js"></script>
  <script src="js/justus.directive.js"></script>
  <script src="js/api.service.js"></script>
  <script src="js/save.controller.js"></script>
  <!-- endbuild -->

  <!--dev--><link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><!--enddev-->
  <!--dev--><link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"><!--enddev-->
  <!--dev--><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.19.4/select.min.css"><!--enddev-->
  <!-- build:css css/vendor.css -->
  <!-- mustache
  <link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.min.css">
  end mustache -->
  <!-- endbuild -->
  <link rel="stylesheet" href="css/justus.css">

  <title>{{i18n.header.title[lang]}}</title>
</head>
<body class="container-fluid">

<div class="row">
  <!-- div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 content" -->
  <div class="col-xs-12 content">

    <div data-ng-include src="'header.html'"></div>

    <div class="row">
      <div class="col-xs-12 col-md-12 pull-right text-right" style="vertical-align:bottom;">
        <a href="justus.html" data-ng-bind="i18n.navi.form[lang]"></a> | <a href="omat.html" data-ng-bind="i18n.navi.records[lang]"></a>
      </div>
    </div>

    <form id="form_justus" name="fj"
      action="justus_save.php" method="GET">

      <div data-ng-show="ui_vaihe<1" data-ng-include src="'justus/valitse.html'"></div>

      <div data-ng-show="ui_vaihe>=1" data-ng-include src="'justus/vaihevuo.html'"></div>

      <div data-ng-show="ui_vaihe==1" data-ng-include src="'justus/esitayta.html'"></div>

      <div data-ng-show="ui_vaihe==2" data-ng-include src="'justus/julkaisutyyppi.html'"></div>

      <!-- Kenttä: Julkaisutyyppi -->
      <!-- div class="row" data-ng-show="ui_vaihe>2 && ui_vaihe<=4">
        <div class="col-xs-12 text-left">
          <h1>{{getCode('julkaisutyypit',justus.julkaisutyyppi).selite[lang]}}</h1>
          <br>
        </div>
      </div -->

      <!-- TIETOJEN SYÖTTÖ -->
      <div data-ng-show="ui_vaihe==3" data-ng-include src="'justus/tietojensyotto.html'"></div>

      <!-- div data-ng-if="ui_vaihe==4" data-ng-include src="'justus/organisaationtekijat.html'"></div -->

      <!-- ESIKATSELU / TALLENNUS -->
      <!-- voi olla omassa ali-scopessa -->
      <div data-ng-if="ui_vaihe==4" data-ng-include src="'justus/tallennus.html'"></div>

    </form>

    <div data-ng-include src="'footer.html'"></div>

  </div>
  <!-- div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div -->
</div>

</body>
</html>
