  <div id="justuscontent" data-ng-controller="JustusController">

    <div data-ng-show="vaihe<1" data-ng-include data-src="'justus/valitse.html'"></div>

    <form id="form_justus" name="fj" data-ng-if="vaihe>=1"
      action="justus_save.php" method="GET">
      <div data-ng-show="vaihe>=1" data-ng-include data-src="'justus/vaihevuo.html'"></div>
      <div data-ng-show="vaihe==1" data-ng-include data-src="'justus/esitayta.html'"></div>
      <div data-ng-show="vaihe==2" data-ng-include data-src="'justus/julkaisutyyppi.html'"></div>
      <div data-ng-show="vaihe==3" data-ng-include data-src="'justus/tietojensyotto.html'"></div>
      <!-- voi olla omassa ali-scopessa -->
      <div data-ng-if="vaihe==4" data-ng-include data-src="'justus/tallennus.html'"></div>
    </form>

  </div>
