<div class="row form-control">
  <div class="col-xs-12 table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>JulkaisuID</th>
          <th>Julkaisun nimi</th>
          <th>Julkaisun tekijät</th>
          <th>Julkaisuvuosi</th>
          <th>Muokattu</th>
          <th>Viimeisin muokkaaja</th>
          <th>Toiminnot</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="d in data.julkaisu track by d.id">
          <td>
            <span data-ng-bind="d.id"></span>
          </td>
          <td>
            {{d.julkaisunnimi}}
          </td>
          <td>
            {{d.tekijat}}
          </td>
          <td>
            {{d.julkaisuvuosi}}
          </td>
          <td><!-- muokattu -->
          </td>
          <td><!-- muokkaaja -->
          </td>
          <td>
            <a href="justus.html?vaihe=4&{{makeParams(d).join('&')}}">Näytä</a>
            <!-- button data-ng-click="usePaivita('julkaisu',d.id,table.pkcol)">Päivitä</button -->
            <button data-ng-click="usePoista('julkaisu',d.id)">Poista</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
