<!DOCTYPE html>
<html lang="fi" data-ng-app="justusApp" data-ng-controller="IndexController">
<head>
  <!-- bootstrap :: the  first 3 must be first -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--dev--><script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script><!--enddev-->
  <!--dev--><!-- script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script --><!--enddev-->
  <!--dev--><script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.min.js"></script><!--enddev-->
  <!--dev--><script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script><!--enddev-->
  <!--dev--><script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.19.4/select.min.js"></script><!--enddev-->
  <!--dev--><script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.3/ui-bootstrap-tpls.min.js"></script><!--enddev-->
  <!-- build:js js/vendor.js -->
  <!-- mustache
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-ui-select/dist/select.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  end mustache -->
  <!-- endbuild -->
  <!-- build:js js/index.js -->
  <script src="js/generic.js"></script>
  <script src="js/config.js"></script>
  <script src="js/i18n.js"></script>
  <script src="js/codes.js"></script>
  <script src="js/justus.app.js"></script>
  <script src="js/koodisto.service.js"></script>
  <script src="js/index.controller.js"></script>
  <!-- endbuild -->
  <!-- build:js js/tarkasta.js -->
  <script src="js/justus.service.js"></script>
  <script src="js/api.service.js"></script>
  <script src="js/tarkasta.controller.js"></script>
  <!-- endbuild -->

  <!--dev--><link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><!--enddev-->
  <!--dev--><link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"><!--enddev-->
  <!--dev--><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.19.4/select.min.css"><!--enddev-->
  <!-- build:css css/vendor.css -->
  <!-- mustache
  <link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.min.css">
  end mustache -->
  <!-- endbuild -->
  <link rel="stylesheet" href="css/justus.css">

  <title>{{i18n.header.title[lang]}}</title>
</head>
<body class="container-fluid">

<div class="row">
<div class="col-xs-12 content">

  <div data-ng-include src="'header.html'"></div>
  
  <!-- div class="row">
    <div class="col-xs-12">
      <div style="display:inline-block; vertical-align:middle; float:none">
        <img src="img/hyvaksyikoni.png" alt="{{i18n.header.logotext[lang]}}" class="img-responsive">
      </div>
      <div style="display:inline-block; vertical-align:middle; float:none">
        <h3>HYVÄKSY TALLENNUKSIA</h3>
      </div>
    </div>
  </div -->

  <div class="row" data-ng-controller="TarkastaController">
    <div class="col-xs-12 table-responsive">
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th class="justus-bg-dim" style="vertical-align:top; border:1px white solid;"><span data-ng-bind="i18n.content.tarkasta.table.julkaisuid[lang]"></span></th>
            <th class="justus-bg-dim" style="vertical-align:top; border:1px white solid;"><span data-ng-bind="i18n.content.tarkasta.table.julkaisunnimi[lang]"></span></th>
            <th class="justus-bg-dim" style="vertical-align:top; border:1px white solid;"><span data-ng-bind="i18n.content.tarkasta.table.julkaisuntekijat[lang]"></span></th>
            <th class="justus-bg-dim" style="vertical-align:top; border:1px white solid;"><span data-ng-bind="i18n.content.tarkasta.table.tila[lang]"></span></th>
            <th class="justus-bg-dim" style="vertical-align:top; border:1px white solid;"><span data-ng-bind="i18n.content.tarkasta.table.muokattu[lang]"></span></th>
            <th class="justus-bg-dim" style="vertical-align:top; border:1px white solid;"><span data-ng-bind="i18n.content.tarkasta.table.viimeisinmuokkaaja[lang]"></span></th>
            <th class="justus-bg-dim" style="vertical-align:top; border:1px white solid;"><span data-ng-bind="i18n.content.tarkasta.table.toiminnot[lang]"></span></th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="d in data.julkaisu track by d.id">
            <td><span data-ng-bind="d.id"></span></td>
            <td><span data-ng-bind="d.julkaisunnimi"></span></td>
            <td><span data-ng-bind="d.tekijat"></span></td>
            <td><span data-ng-bind="getCode('julkaisuntila',d.status).selite[lang]"></span></td>
            <td><span data-ng-bind="d.modified"></span></td>
            <td><span data-ng-bind="d.username"></span></td>
            <td>
              <!-- button data-ng-click="usePaivita(d[table.pkcol],table.pkcol)">Päivitä</button -->
              <button data-ng-click="usePoista(d[table.pkcol])">Poista</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <br>
    </div>
  </div>

  <div data-ng-include src="'footer.html'"></div>

</div>
</div>

</body>
</html>
