html,
body {
  background-color: $body-bg;
  font-family: 'PT Sans', sans-serif;
  height: 100%;
  width: 100%;
}

.main-wrapper {
  background-color: $body-bg;
  height: 100%;
}

.main-container {
  background-color: $brand-primary;
  height: 100%;
  padding: 0;
}

.header-wrapper {
  padding: $padding-large-vertical 0;
}

.content-wrapper {
  background-color: $brand-white;
  padding: 0 $padding-large-horizontal;
}

.view-wrapper {
  padding-top: $padding-large-vertical;
  padding-bottom: $padding-large-vertical*10;
}

.footer {
  background-color: $brand-primary;
  color: $brand-white;
  padding: $padding-large-vertical $padding-large-horizontal;
  margin: 0;
}

// Todo
// Old theme css, replace with SASS and rename to be more generic
.justus-block {
  padding: 8px 0px;
  margin: 8px 0px;
}

.justus-block.sm {
  padding: 4px 0px;
  margin: 4px 0px;
}

.justus-block-alter {
  background-color: $body-bg;
  color: $brand-white;
  padding: 8px 0px;
  margin: 8px 0px;
}

.justus-highlight {
  color: $brand-primary;
}

.justus-required-star {
  color: $brand-danger;
}

.justus-required {
  transition: all linear 0.5s;
}